body {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1.h1centered {
  text-align: center
}
h2.h2centered {
  text-align: center
}
h3.h3centered {
  text-align: center
}
td {
  text-align: center
}
p.cls_bold {
  font-weight: bold
}